html,
body {
  margin: 0px;
  font-family: Nunito Sans, Arial;
  box-sizing: border-box;
  height: 100%;
}
.header {
  background-color: #000000;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
}
.header-content {
  display: flex;
  justify-content: space-around;
  height: 83px;
  align-items: center;
}
.logo {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}
.header-navigation {
  list-style: none;
  display: flex;
}
main {
  height: 100%;
}
.welcome {
  position: relative;
  background: url(./images/image1.jpg) no-repeat center;
}
.welcome:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.welcome .wrap {
  position: relative;
  z-index: 2;
  padding-top: 194px;
}
.smallText {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  position: relative;
  margin-top: 95px;
}
.wrap {
  height: 707px;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 107px;
}
.title {
  margin: 0px;
  font-family: Yeseva One, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
}
.Request {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(189, 171, 143, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: #ffffff;
  text-transform: uppercase;
}
.button1 {
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 19px 0;
  width: 207px;
}
.button2 {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding: 19px 0;
  width: 207px;
}
.projects {
  background: url(./images/fon2.jpg) no-repeat center;
}
.header-navigation_item {
  margin-right: 47px;
}
.header-navigation_item a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 115px;
}
.main-navigation_item a {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 60.5px;
}
.phone {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}
.repair {
  background-image: url(./images/image1.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}
#slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.colorText {
  color: #e3b873;
}
.projects-image {
  position: relative;
  padding-left: 50px;
  height: 482px;
  width: 679px;
}
.projects-container {
  display: flex;
  justify-content: center;
}
.projects-bigtext {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}
.projects-smalltext {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
.projects-yellowtext {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}
.projects-rectangle {
  padding-left: 40px;
}
.sector4 {
  display: flex;
  flex-direction: row;
}
.sector4-left {
  display: flex;
  flex-direction: column;
  padding-right: 29px;
}
.sector4-right {
  display: flex;
  flex-direction: column;
}
.sector5 {
  display: flex;
  flex-direction: row;
  padding-top: 34px;
}
.seсtor5-left {
  display: flex;
  flex-direction: column;
  padding-right: 29px;
}
.seсtor5-right {
  display: flex;
  flex-direction: column;
}
.leftArrow {
  padding-left: 100px;
  padding-top: 0px;
}
.rectangleSmall {
  padding-left: 29.5px;
  padding-top: opx;
}
.onlineControl {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 92px;
  padding-left: 565px;
}
.sector6 {
  display: flex;
  flex-direction: column;
  padding: -90px;
  position: relative;
}
.wrapperImage-center {
  display: flex;
  width: 100%;
  place-content: center;
  position: absolute;
  padding-top: -217px;
  z-index: 2;
}
.wrapperImage {
  display: flex;
  align-items: center;
  place-content: center;
  height: 434px;
  width: 817px;
  position: relative;
}
.wrapperImage:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 9, 9, 0.3);
  z-index: 1;
}
.wrapperImage img {
  position: absolute;
}
.camera {
  padding-top: 95px;
  padding-left: 530px;
}
.sector6-image {
  width: 100%;
  height: 100%;
}
.Rectangle3 {
  padding-left: 640px;
  padding-top: 120px;
}
.ladgeText {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  padding-top: 306.5px;
  left: 380px;
}
.contInf {
  display: flex;
  justify-content: center;
  position: relative;
}
.contInf-name {
  display: flex;
  flex-direction: column;
}
.contInf-phone {
  display: flex;
  flex-direction: column;
  padding-left: 58px;
}
.Name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  font-family: Nunito Sans;
  color: rgba(54, 54, 54, 0.5);
}
.Phone {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.underName {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  padding-top: 0px;
}
.underPhone {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  padding-top: 0px;
}
.check {
  padding-left: 520px;
  padding-top: 37px;
}
.contInf-agree {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
}
.submit {
  background: #e3b873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  color: #ffffff;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 50px;
}
.placeButton {
  padding-left: 58px;
}
.contInf-MainText {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #181818;
  position: relative;
  top: 147.85px;
}
.Hammer {
  padding-left: 580px;
}
.contInf-Hammer {
  position: relative;
  top: 186.85px;
}
.footPictures {
  margin-top: 250px;
  display: flex;
 justify-content: space-around;
}
.footList {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.textFooter {
  display: flex;
  justify-content: space-between;
}
.tFladge {
  position: absolute;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-left: 215px;
}
.tFsmall {
  margin: 33px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  padding-left: 200px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.left li {
  padding-left: auto;
}
.button {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.allFoot {
  position: relative;
  display: flex;
  flex-direction: column;
}
.submit1,
.submit2,
.submit3 {
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  color: #ffffff;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-right: 135px;
}
